.git
.env
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/hot
public/storage
public/build
Dockerfile
docker-compose.yml
.dockerignore
.github
.vscode
php_errors.log
coverage
phpunit.xml
.editorconfig
.styleci.yml
.gitignore
README.md
