APP_NAME=CAIKUE
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://caikue.kabupaten.go.id

LOG_CHANNEL=stack
LOG_LEVEL=error

# Database Configuration
# Set USE_LOCAL_DB=true only for local development with docker mysql container
USE_LOCAL_DB=false
DB_CONNECTION=mysql
DB_HOST=h139vp1fyu5dz7sgnq6wg984
DB_PORT=3306
DB_DATABASE=caikue
DB_USERNAME=mysql
DB_PASSWORD=wH4Q8Wv1PIslZPY0thf1F1PqbiveKcEFnmweBPvUKMZcjSClIraDTd9JcAXUyzQa

# Octane & FrankenPHP Configuration
OCTANE_SERVER=frankenphp
# FRANKENPHP_CONFIG="worker ./public/index.php"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

# Docker Local Ports
PORT_APP=8100
PORT_DB=8106
PORT_VITE=8173
PORT_MAILPIT_SMTP=8125
PORT_MAILPIT_UI=8180

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
